.blog {
  flex: 1;
  width: 100vw;
  display: grid;
  place-items: center;
}

.blog__posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 95vw;
  margin-top: -100px;
  padding-bottom: 50px;
}

.blog__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1032&q=80")
    rgba(0, 0, 0, 0.5) no-repeat center center / cover;
  background-blend-mode: overlay;
  background-attachment: fixed;
  height: calc(100vh + 100px);
  width: 100vw;
  color: white;
}

.blog__intro > h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.blog__intro > p {
  width: 95vw;
  font-weight: 500;
  max-width: 800px;
  font-size: 20px;
}

.blog__buttons {
  display: flex;
  align-items: center;
}

.blog__buttons > .MuiButton-root {
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  text-transform: none;
  transition: all 0.5s;
  margin: 10px 2.5px;
  padding: 5px 20px;
  border-radius: 3px;
  white-space: nowrap;
}

.blog__buttons > .MuiButton-root:hover {
  filter: brightness(80%);
  transform: translateY(5px);
  background-color: white;
}
